python3,kivy==2.1.0,kaki==0.1.5,pillow,kivymd==0.104.2,requests,sdl2_ttf==2.0.15,urllib3==1.26.9,certifi==2022.5.18.1,charset-normalizer==2.0.12,idna==3.3,opencv-python ==4.6.0.66,googletrans ==4.0.0rc1,SpeechRecognition==3.8.1,cffi==1.15.0,chardet==3.0.4,pyttsx3==2.90,scipy==1.8.0,six==1.16.0,sniffio==1.2.0,numpy ==1.22.4,Pillow ==9.1.1,Kivy-Garden ==0.1.5,kivy-deps.glew ==0.3.1,kivy-deps.angle ==0.3.2,kivy-deps.sdl2 ==0.4.5,kivy-deps.gstreamer ==0.3.3